extends layout
block append head
	link(rel="stylesheet",href="/public/css/carousel.css")
block append content
	h2
		|#{project.title}
	hr

	.col-xs-12.col-md-6.text-left
			h3
				|Description
			#[ !{project.description}]
	.col-xs-12.hidden-md.hidden-lg
		hr
	.col-xs-12.col-md-6.text-center
		.col-xs-12.hidden-md.hidden-lg
			.carousel(id="sm-carousel").slide
				ol.carousel-indicators
					each photo, i in project.photos
						if(i==0)
							li(data-target="#sm-carousel" data-slide-to="#{i}" class="active")
						else
							li(data-target="#sm-carousel" data-slide-to="#{i}")
				.carousel-inner
					each photo, i in project.photos
						if(i==0)
							.row-fluid.item.active
								.col-xs-12.text-center
									a(href="#{photo.url}s1024/#{photo.fname}" target="_blank")
										img(id="disp-img" src="#{photo.url}s768/#{photo.fname}" style ="object-fit:cover; object-position: center; height: 200px;").img-thumbnail
									br
									|#{photo.description}
						else
							.row-fluid.item
								.col-xs-12.text-center
									a(href="#{photo.url}s1024/#{photo.fname}" target="_blank")
										img(id="disp-img" src="#{photo.url}s768/#{photo.fname}" style ="object-fit:cover; object-position: center; height: 200px;").img-thumbnail
									br
									|#{photo.description}
				a(href="#sm-carousel" data-slide="prev").left.carousel-control
					.i(aria-hidden="true").fa.fa-chevron-left(style="color: black;")
				a(href="#sm-carousel" data-slide="next").right.carousel-control
					.i(aria-hidden="true").fa.fa-chevron-right(style="color: black;")
		.col-xs-12.hidden-xs.hidden-sm
			.carousel(id="lg-carousel").slide
				ol.carousel-indicators
					each photo, i in project.photos
						if(i==0)
							li(data-target="#lg-carousel" data-slide-to="#{i}" class="active")
						else
							li(data-target="#lg-carousel" data-slide-to="#{i}")
				.carousel-inner
					each photo, i in project.photos
						if(i==0)
							.row-fluid.item.active
								.col-xs-12.text-center
									a(href="#{photo.url}s1024/#{photo.fname}" target="_blank")
										img(id="disp-img" src="#{photo.url}s768/#{photo.fname}" style ="object-fit:cover; object-position: center; height: 400px;").img-thumbnail
									br
									|#{photo.description}
						else
							.row-fluid.item
								.col-xs-12.text-center
									a(href="#{photo.url}s1024/#{photo.fname}" target="_blank")
										img(id="disp-img" src="#{photo.url}s768/#{photo.fname}" style ="object-fit:cover; object-position: center; height: 400px;").img-thumbnail
									br
									|#{photo.description}
				a(href="#lg-carousel" data-slide="prev").left.carousel-control
					.i(aria-hidden="true").fa.fa-chevron-left(style="color: black;")
				a(href="#lg-carousel" data-slide="next").right.carousel-control
					.i(aria-hidden="true").fa.fa-chevron-right(style="color: black;")
block append script-block
	script.
		$(document).ready(function() {
			$('#lg-carousel').carousel({
			interval: 10000
			})
			$('#sm-carousel').carousel({
			interval: 10000
			})
		});