extends layout

block append content
	.col-xs-12
		.col-xs-12.col-md-3
			h2
				|Skills
		.col-xs-12.col-md-9
			.col-xs-12
				each set in skills
					p
						#[b #{set.title}: ]
						each skill, i in set.items
							if i === 0
								#[ #{skill}]
							else
								#[ , #{skill}]
	hr
	.col-xs-12
		.col-xs-12.col-md-3
			h2
				|Work Experience
		.col-xs-12.col-md-9
			each job in work
				.col-xs-6
					b #{job.title}
				.col-xs-6.text-right
					if job.start === job.end
						|#{job.start}
					else
						|#{job.start}-#{job.end}
				.col-xs-12
					|#{job.company}
					br
					ul(class="list-unstyled icon-list chevron-right")
						each item in job.items
							li
								|#{item}
	hr
	.col-xs-12
		.col-xs-12.col-md-3
			h2
				|Education
		.col-xs-12.col-md-9
			each degree in education
				.col-xs-6
					b #{degree.degree}
				.col-xs-6.text-right
					|#{degree.year}
				.col-xs-12
					|#{degree.university}
					br
					if degree.thesis
						|Thesis: #{degree.thesis}
					p
	hr
	.col-xs-12
		.col-xs-12.col-md-3
			h2
				|Activities
		.col-xs-12.col-md-9
			ul(class="list-unstyled icon-list chevron-right")
				each activity in activities
					li
						!{activity.item}


	